@font-face {
  font-family: iconfont;
  src: url(mi-iconfont.woff) format("woff");
  font-weight: 400
}

[class~=icon] {
  font-family: iconfont!important;
  font-style: normal;
  line-height: 1;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale
}

.icon-arrow-left:before {
  content: "\E626"
}

.icon-arrow-right:before {
  content: "\E621"
}

.icon-arrow-up:before {
  content: "\E611"
}

.icon-arrow-down:before {
  content: "\E61A"
}

.icon-arrow-left-big:before {
  content: "\E628"
}

.icon-arrow-right-big:before {
  content: "\E623"
}

.icon-arrow-up-big:before {
  content: "\E612"
}

.icon-arrow-down-big:before {
  content: "\E61B"
}

.icon-arrow-up-tail:before {
  content: "\E62F"
}

.icon-arrow-down-tail:before {
  content: "\E633"
}

.icon-arrow-down-mini:before {
  content: "\E61C"
}

.icon-arrow-down-small:before {
  content: "\E62B"
}

.icon-arrow-left-thin:before {
  content: "\E629"
}

.icon-arrow-right-thin:before {
  content: "\E624"
}

.icon-arrow-left-big-thin:before {
  content: "\E627"
}

.icon-arrow-right-big-thin:before {
  content: "\E622"
}

.icon-like:before {
  content: "\E60F"
}

.icon-like2:before {
  content: "\E607D"
}

.icon-like3:before {
  content: "\E90A"
}

.icon-like3-outline:before {
  content: "\E909"
}

.icon-dislike:before {
  content: "\E603"
}

.icon-dqm-left:before {
  content: "\E625"
}

.icon-dqm-right:before {
  content: "\E620"
}

.icon-check:before {
  content: "\221A"
}

.icon-close:before {
  content: "\E602"
}

.icon-close-small:before {
  content: "\D7"
}

.icon-circle-check:before {
  content: "\E618"
}

.icon-circle-close:before {
  content: "\E605"
}

.icon-plus:before {
  content: "\E609"
}

.icon-minus:before {
  content: "\E60B"
}

.icon-heart:before {
  content: "\E62E"
}

.icon-heart-outline:before {
  content: "\E62D"
}

.icon-heart-small:before {
  content: "\E631"
}

.icon-heart-outline-small:before {
  content: "\E614"
}

.icon-face:before {
  content: "\E61F"
}

.icon-face-smile:before {
  content: "\E60E"
}

.icon-face-sad:before {
  content: "\E613"
}

.icon-face-laugh:before {
  content: "\E619"
}

.icon-cart:before {
  content: "\E60C"
}

.icon-cart-plus:before {
  content: "\E60A"
}

.icon-cart-full:before {
  content: "\E60D"
}

.icon-menu:before {
  content: "\E62C"
}

.icon-message:before {
  content: "\E610"
}

.icon-message2:before {
  content: "\E600"
}

.icon-forward:before {
  content: "\E607"
}

.icon-forward2:before {
  content: "\E639"
}

.icon-question:before {
  content: "\E617"
}

.icon-wechat:before {
  content: "\E608"
}

.icon-weibo:before {
  content: "\E630"
}

.icon-qzone:before {
  content: "\E632"
}

.icon-play:before {
  content: "\E601"
}

.icon-disbled:before {
  content: "\E61E"
}

.icon-simcard:before {
  content: "\E641"
}

.icon-simcard2:before {
  content: "\E906"
}

.icon-telecom:before {
  content: "\E640"
}

.icon-tool:before {
  content: "\E634"
}

.icon-circle-7:before {
  content: "\E635"
}

.icon-circle-15:before {
  content: "\E636"
}

.icon-location:before {
  content: "\E637"
}

.icon-location2:before {
  content: "\E90B"
}

.icon-gift:before {
  content: "\E638"
}

.icon-gift2:before {
  content: "\E63E"
}

.icon-gift3:before {
  content: "\E905"
}

.icon-search:before {
  content: "\E616"
}

.icon-search2:before {
  content: "\E63A"
}

.icon-sync:before {
  content: "\E62A"
}

.icon-sync2:before {
  content: "\E63B"
}

.icon-card:before {
  content: "\E63C"
}

.icon-card-outline:before {
  content: "\E907"
}

.icon-alarm:before {
  content: "\E63D"
}

.icon-fcode:before {
  content: "\E63F"
}

.icon-clock:before {
  content: "\E606"
}

.icon-star:before {
  content: "\E61D"
}

.icon-alert:before {
  content: "\E90C"
}

.icon-circle-arrow-right:before {
  content: "\E615"
}

.icon-circle-phone:before {
  content: "\E904"
}

.icon-phone:before {
  content: "\E908"
}

.icon-month:before {
  content: "\E901"
}

.icon-1yuan:before {
  content: "\E903"
}
