html {
  scroll-behavior: smooth;
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 1250px;
}
body {
  position: relative;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif
}
h2 {
  font-size: 22px;
  font-weight: normal;
  color: #333;
}

/* iconfonts adjust */
/* .icon, .icon * {
  vertical-align: middle;
} */
.icon::before {
  font-size: inherit;
  line-height: inherit;
}

/* ul public style */
ul {
  margin: 0;
  padding: 0;
}
ul > li {
  display: inline-block;
  list-style: none;
}
/* a */
a {
  width: 100%;
  height: inherit;
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  height: 40px;
  background-color: #333;
  color: #b0b0b0;
}
.header-wrapper {
  width: 1226px;
  margin: 0 auto;
}
header ul, header a.cart {
  display: inline-block;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
header .icon-cart {
  font-size: 24px;
  vertical-align: -5px;
}
header ul.login, header div.header-cart {
  float: right;
}
header ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.2em;
  cursor: pointer;
  position: relative;
}
header ul li:hover {
  color: #fff;
}
header ul li:not(:last-child):after {
  content: "|";
  color: #424242;
  margin-left: 0.7em;
}

header ul li.qr-code div {
  box-sizing: border-box;
  width: 125px;
  height: 0px;
  box-shadow: 0 0 5px -2px black;
  position: absolute;
  left: -42px;
  background-color: #fff;
  background-image: url(images/qr-code.png);
  background-repeat: no-repeat;
  background-size: 86px;
  background-position: 20px 20px;
  visibility: hidden;
  overflow: hidden;
  transition: .3s;
  z-index: 5;
}
header ul li.qr-code:hover::before {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
}
header ul li.qr-code div span {
  display: block;
  width: 100%;
  position: absolute;
  font-size: 0.9rem;
  margin-top: 100px;
  text-align: center;
  color: #333;
}
header ul li.qr-code:hover div {
  height: 150px;
  visibility: visible;
}


header .header-cart {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #424242;
}
header .cart {
  width: 120px;
  text-align: center;
  cursor: pointer;
}

header .header-cart:hover {
  color: #ff6700;
  background-color: #fff;
}
header .header-cart:hover  .cart-content{
  height: 100px;
  visibility: visible;
  transition: height 0.3s, visibility 0.3s;
}
header .cart-content {
  background-color: #fff;
  color: #000;
  font-size: 0.5em;
  width: 316px;
  height: 0;
  box-shadow: 0 1px 8px -4px black;
  position: absolute;
  top: 40px;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.3s, visibility 0s 0.3s;
}
header .cart-content div {
  width: 200px;
  margin: 40px auto;
}

/* site-header */
.site-logo {
  float: left;
  margin-top: 22px;
}
.site-logo a:active .mi-logo {
  background-size: 50px;
}
.mi-logo {
  display: inline-block;
  height: 56px;
  width: 56px;
  background-image: url(images/logo-mi2.png);
  background-repeat: no-repeat;
  background-size: 56px;
  background-position: center;
}

.site-header {
  height: 100px;
}

.site-header form {
  float: right;
  margin-top: 25px;
}
.site-header form input {
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 0.5em;
  transition: .3s;
  outline: none;
}
.site-header form input:focus + button,
.site-header form input:focus {
  border-color: #ff6a00;
}
.site-header form:hover *{
  border-color: #b0b0b0;
}
.site-header form button {
  vertical-align: top;
  margin-left: -8px;
  box-sizing: border-box;
  font-size: 24px;
  color: #616161;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  cursor: pointer;
  transition: .3s;
}
.site-header form button:hover {
  border-color: #ff6700;
  background-color: #ff6700;
  color: white;
}

.site-header ul.menu {
  display: inline-block;
  line-height: 100px;
  vertical-align: top;
  margin: 0 0 0 180px;
  padding: 0;
  font-size: 1rem;
}
.site-header ul.menu li {
  display: inline-block;
  margin: 0 0.5em;
}
.site-header ul.menu li a {
  color: #000;
}
.site-header ul.menu li {
  margin: 0;
  float: left;
}
.site-header ul.menu li > a {
  padding: 0 10px;
}
.site-header ul.menu li:hover > a {
  color: #ff6700;
}

.site-header ul.menu:hover .header-drawer {
  height: 230px;
  transition: height 0.3s .2s, visibility 0s;
}
.site-header ul.menu li:hover .header-drawer {
  visibility: visible;
}
.site-header ul.menu li .header-drawer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 5px 8px -8px black;
  line-height: normal;
  overflow: hidden;
  visibility: hidden;
  z-index: 10;
  transition: height .3s, visibility 0s .3s;
}
.site-header ul.menu li .header-drawer .header-drawer-wrapper {
  width: 1226px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
}
.site-header ul.menu li .header-drawer .header-item {
  position: relative;
  box-sizing: border-box;
  width: 203px;
  height: 230px;
  padding: 35px 12px 0;
}
.site-header ul.menu li .header-drawer .header-item img {
  width: 160px;
}
.site-header ul.menu li .header-drawer .header-item:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
}
.site-header ul.menu li .header-drawer .header-item a {
  font-size: 0.5em;
}
.site-header ul.menu li .header-drawer .header-item a span {
  font-size: 0.5em;
  color: #ff6700;
}

/* home-hero */

.container {
  width: 1226px;
  margin: auto;
  display: flow-root;
  position: relative;
}
.site-category {
  position: absolute;
  box-sizing: border-box;
  width: 234px;
  height: 460px;
  padding: 20px 0;
  background-color: rgb(105,101,101,.6);
  color: #fff;
  z-index: 8;
}
.site-category-list > li {
  display: block;
  padding: 0 0 0 30px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}
.site-category-list > li:hover {
  background-color: #ff6700;
}
.site-category-list > li > a {
  position: relative;
  display: block;
}
.site-category-list > li > a > span {
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  right: 20px;
  top: 12.5px;
}
/* sublist */
div.sub-category-wrapper {
  position: absolute;
  left: 234px;
  top: 0;
  width: 992px;
  height: 460px;
  color: #000;
  box-shadow: 0 0 1px black;
  background-color: #fff;
}
.site-category-list > li:hover .sub-category-wrapper {
  display: block;
}
.sub-category-wrapper {
  display: none;
}
.sub-category-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 460px;
  max-width: 992px;
  overflow: hidden;
}
.sub-category-list li {
  width: 245px;
  height: 76px;
  transition: color .3s;
}
.sub-category-list li:hover {
  color: #ff6700;
}
.sub-category-list li img {
  height: 40px;
  vertical-align: middle;
}
.sub-category-list li a {
  height: 40px;
  padding: 18px 15px;
}

/* main hero */
div.main-hero {
  position: relative;
  width: 1226px;
  height: 460px;
}
.main-hero a {
  position: absolute;
  top: 0;
  width: 1226px;
  opacity: 0;
  transition: .6s;
}
.main-hero a img {
  width: 1226px;
}
.main-hero input {
  display: none;
}
.main-hero input:nth-of-type(1):checked ~ a:nth-of-type(1),
.main-hero input:nth-of-type(2):checked ~ a:nth-of-type(2),
.main-hero input:nth-of-type(3):checked ~ a:nth-of-type(3),
.main-hero input:nth-of-type(4):checked ~ a:nth-of-type(4) {
  opacity: 1;
}
.main-hero input:nth-of-type(1):checked ~ a:nth-of-type(1) label,
.main-hero input:nth-of-type(2):checked ~ a:nth-of-type(2) label,
.main-hero input:nth-of-type(3):checked ~ a:nth-of-type(3) label,
.main-hero input:nth-of-type(4):checked ~ a:nth-of-type(4) label {
  display: block;
}
.main-hero input:nth-of-type(1):checked ~ .main-hero-labels label:nth-of-type(1),
.main-hero input:nth-of-type(2):checked ~ .main-hero-labels label:nth-of-type(2),
.main-hero input:nth-of-type(3):checked ~ .main-hero-labels label:nth-of-type(3),
.main-hero input:nth-of-type(4):checked ~ .main-hero-labels label:nth-of-type(4) {
  background-color: #fff;
}
/* left and right buttons */
.main-hero a label {
  cursor: pointer;
  position: absolute;
  color: #ababab;
  text-align: center;
  height: 70px;
  font-size: 48px;
  line-height: 70px;
  display: none;
  z-index: 1;
}
.main-hero a label span {
  line-height: 70px;
}
.main-hero a label:hover {
  color: #fff;
  background-color: #14141488;
}
.main-hero a label:first-of-type {
  left: 235px;
  top: 200px;
}
.main-hero a label:last-of-type {
  right: 0;
  top: 200px;
}

.main-hero-labels {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}
.main-hero-labels label {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 999px;
  background-color: #3333;
}
.main-hero-labels label:hover {
  border: 2px solid;
  background-color: #fff;
}

div.main-hero-sub {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
}
div.channel {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
  color: #d8d6d4;
  overflow: hidden;
}
.channel-list {
  height: 170px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.channel-list .icon{
  font-size: 36px;
}
.channel-list li {
  width: 76px;
  height: 82px;
  position: relative;
}
.channel-list a {
  display: block;
}
.channel-list li::before {
  content: '';
  display: block;
  width: 1px;
  height: 65px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #665e57;
}
.channel-list li::after {
  content: '';
  display: block;
  width: 65px;
  height: 1px;
  position: absolute;
  left: 6px;
  top: 0;
  background-color: #665e57;
}
.channel-list li a{
  box-sizing: border-box;
  padding: 16px 0 0;
  text-align: center;
  font-size: 12px;
  transition: color .3s;
}
.channel-list li a:hover {
  color: #fff;
}
/* promo */
.main-hero-sub .promo {
  width: 978px;
}
.promo ul.promo-list {
  width: 978px;
  height: 170px;
  display: flex;
  justify-content: space-between;
}
.promo-list li {
  height: 170px;
  transition: box-shadow .3s;
}
.promo-list img {
  height: 170px;
}
.promo-list li:hover {
  box-shadow: 0 10px 25px -10px gray;
}

/* main page */
.main-page {
  width: 100%;
  background-color: #f5f5f5;
}


/* flash sale */
.main-page .flash-sale {
  margin: 20px 0;
  position: relative;
  display: flow-root;
  /* height: 340px; */
}
.flash-sale-wrapper {
  display: flex;
  gap: 14px;
}

/* countdown */
.countdown {
  box-sizing: border-box;
  width: 235px;
  height: 340px;
  padding: 39px 0 0;
  text-align: center;
  flex-shrink: 0;
  background-color: #f1eded;
  border-top: 1px solid #e53935;
}
.countdown div:first-of-type {
  color: #ef3a3b;
  font-size: 21px;
  margin-top: 30px;
}
.countdown img {
  width: 34px;
  margin-top: 30px;
}
.countdown div:nth-of-type(2) {
  margin: 25px 0 20px;
  color: gray;
  font-size: 14px;
}
.countdown .countdown-timer {
  font-size: 36px;
  color: #605751;
}
.countdown .countdown-timer span {
  display: inline-block;
  text-align: center;
  width: 50px;
  background-color: #605751;
  color: #fff;
}

.flash-sale-items {
  height: 340px;
  overflow: hidden;
}
.flash-item-list {
  display: flex;
  gap: 14px;
  width: 978px;
  transition: transform 1s;
}

/* item card public style */
.item-card {
  box-sizing: border-box;
  width: 234px;
  height: 300px;
  flex-shrink: 0;
  background-color: #fff;
}
.flash-sale-items .item-card {
  height: 340px;
}
.item-card a {
  display: block;
  box-sizing: border-box;
  padding: 39px 0 0;
  text-align: center;
}
.item-card img {
  height: 160px;
}
.item-card h3 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 2px;
}
.item-card p {
  margin-top: 0;
  text-align: center;
  font-size: 12px;
  color: #b0b0b0;
}
.item-card .price {
  font-size: 14px;
  color: #ff6700;
}
.item-card .price del {
  color: gray;
}
.home-section .item-card a {
  padding-top: 20px;
}

/* img-only card */
.item-card.item-card-img-only img {
  height: auto;
}
.item-card.item-card-img-only a {
  padding: 0;
}

/* small card */
.item-card-small {
  height: 143px;
  position: relative;
}
.small-card-list .item-card-small a {
  padding-top: 50px;
}
.item-card-small .small-card-img {
  height: 80px;
  width: 80px;
  line-height: 80px;
  position: absolute;
  right: 20px;
  top: 32px;
}
.item-card-small .small-card-img .icon {
  font-size: 48px;
  line-height: inherit;
  color: #ff6700;
}
.item-card-small .more {
  margin: 0 120px 0 25px;
  text-align-last: left;
}
.item-card-small .more h3 {
  margin: -10px 0 10px;
}
.item-card-small .more small {
  display: block;
  color: #757575;
}
/* video card */
.item-card.item-card-video {
  position: relative;
  width: 296px;
  height: 285px;
}
.item-card.item-card-video a {
  padding: 0;
}
.item-card.item-card-video img {
  width: 296px;
  height: 180px;
}
.item-card-video .play-button {
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  position: absolute;
  left: 10px;
  top: 150px;
  transition: border-color .3s, background-color .3s;
}
.item-card-video .play-button:hover {
  border-color: #ff6700;
  background-color: #ff6700;
}
.item-card-video .play-button .icon {
  font-size: 30px;
  line-height: 20px;
  color: #fff;
}

/* flash sale card colorful border */
.flash-sale-card {
  border-top: 1px solid;
}
.flash-sale-card:nth-child(5n + 1) {
  border-color: #ffac13;
}
.flash-sale-card:nth-child(5n + 2) {
  border-color: #83c44e;
}
.flash-sale-card:nth-child(5n + 3) {
  border-color: #2196f3;
}
.flash-sale-card:nth-child(5n + 4) {
  border-color: #e53935;
}
.flash-sale-card:nth-child(5n) {
  border-color: #00c0a5;
}

/* flash sale buttons and selector */
.flash-buttons {
  position: absolute;
  top: 25px;
  right: 0;
}
.flash-buttons-page {
  display: none;
}
.flash-buttons-page label{
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #b1b1b1;
}
.flash-buttons-page label.no-page {
  color: #e0e0e0;
}
.flash-buttons-page label:not([class*="no-page"]):hover {
  cursor: pointer;
  color: #ff6700;
}

.flash-sale-page-selector {
  display: none;
}
.flash-sale-page-selector:nth-of-type(1):checked ~ div .flash-item-list  {
  transform: translateX(0px);
}
.flash-sale-page-selector:nth-of-type(2):checked ~ div .flash-item-list  {
  transform: translateX(-994px);
}
.flash-sale-page-selector:nth-of-type(3):checked ~ div .flash-item-list  {
  transform: translateX(-1490px);
}
.flash-sale-page-selector:nth-of-type(1):checked ~ div .flash-buttons-page:nth-child(1) {
  display: block;
}
.flash-sale-page-selector:nth-of-type(2):checked ~ div .flash-buttons-page:nth-child(2) {
  display: block;
}
.flash-sale-page-selector:nth-of-type(3):checked ~ div .flash-buttons-page:nth-child(3) {
  display: block;
}

/* home banner */
.home-banner {
  margin: 20px 0;
}
.home-banner img{
  width: 100%;
}

/* home section style */
.home-section {
  margin: 20px 0;
}
.home-section-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 14px;
}
.home-section-wrapper .section-promo-list {
  display: flex;
  flex-flow: column;
  gap: 14px;
  height: 614px;
}
.section-promo-list li {
  height: 0;
  flex: 1;
}
.section-promo img {
  width: 234px;
}
.section-main {
  position: relative;
}
.small-card-list {
  display: flex;
  flex-flow: column;
  gap: 14px;
}
.home-section-wrapper .section-main-list {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 14px;
}
.section-promo-list li,
.section-main-list li {
  transition: all .2s linear;
}
.section-promo-list li.item-card:hover,
.section-main-list li.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px -10px gray;
}
.section-main-header {
  position: absolute;
}
.section-main-header {
  height: 30px;
  line-height: 30px;
  top: -48.26px;
  right: 0;
}
/* Hover to change cards. Considered not achieveable without javascript. */
/* Inplement click to change instead.*/
.section-main input {
  display: none;
}
.section-main input:checked:nth-of-type(1) ~ ul:nth-of-type(1) {
  display: flex;
}
.section-main input:checked:nth-of-type(2) ~ ul:nth-of-type(2) {
  display: flex;
}
.section-main input:checked:nth-of-type(3) ~ ul:nth-of-type(3) {
  display: flex;
}
.section-main input:checked:nth-of-type(1) ~ div label:nth-of-type(1) {
  border-bottom: 2px solid #ff6700;
  color: #ff6700;
}
.section-main input:checked:nth-of-type(2) ~ div label:nth-of-type(2) {
  border-bottom: 2px solid #ff6700;
  color: #ff6700;
}
.section-main input:checked:nth-of-type(3) ~ div label:nth-of-type(3) {
  border-bottom: 2px solid #ff6700;
  color: #ff6700;
}
.section-main-header.hoverable ~ .section-main-list {
  display: none;
}
.section-main-header.hoverable label {
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all .2s;
}
.section-main-header.hoverable label:hover {
  border-bottom: 2px solid #ff6700;
  color: #ff6700;
}
/* no switch section header */
.section-main-header a {
  color: #424242;
  line-height: 30px;
  font-size: 16px;
  transition: .6s;
}
.section-main-header span.icon {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  vertical-align: -1px;
  line-height: 20px;
  border-radius: 99px;
  background-color: #b0b0b0;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
  transition: .6s;
}
.section-main-header a:hover {
  color: #ff6700;
}
.section-main-header a:hover .icon {
  background-color: #ff6700;
}


/* footer */

.footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.footer-service-list {
  display: flex;
}
.footer-service-list li {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
  color: #616161;
}
.footer-service-list li a:hover {
  color: #ff6700;
}
.footer-service-list li:not(:first-child) {
  border-left: 1px solid #e0e0e0;
}
.footer-service-list li a {
  display: inline;
  width: auto;
  height: 25px;
  line-height: 25px;
  transition: color .3s;
}
.footer-service-list li .icon {
  font-size: 25px;
  vertical-align: -4px;
}

.footer-links {
  /* display: flex; */
  padding: 40px 0;
}
.footer-links::after {
  content: '';
  display: block;
  clear: both;
}
.footer-link-list {
  float: left;
  width: 160px;
  margin: 0;
}
.footer-link-list dt {
  margin-bottom: 20px;
  color: #424242;
}
.footer-link-list dd {
  margin: 0 0 8px;
  font-size: 12px;
  color: #757575;
}
.contact {
  float: right;
  box-sizing: border-box;
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}
.contact p {
  margin: 0;
  font-size: 12px;
  color: #616161;
}
.contact .hotline {
  color: #ff6700;
  font-size: 24px;
}
.contact .button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ff6700;
  width: 118px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #ff6700;
  margin: 5px 0 10px;
  transition: .3s;
}
.contact .button:hover {
  background-color: #ff6700;
  color: #fff;
}
.follow {
  font-size: 12px;
  position: relative;
}
.follow .icon {
  font-size: 20px;
  vertical-align: -4px;
}
.follow a:hover {
  color: #ff6700;
}
.follow a:last-of-type:hover ~ img {
  display: block;
}
.follow img {
  display: none;
  width: 126px;
  position: absolute;
  right: 0;
}

.site-info {
  background-color: #fafafa;
  padding: 20px 0;
}
.site-info .logo {
  position: absolute;
}
.site-info a:hover {
  color: #ff6700;
}
.site-info p {
  margin: 0;
  padding-left: 80px;
  font-size: 12px;
  line-height: 18px;
  color: #b0b0b0;
}
.info-text .sites {
  color: #757575;
}
.info-links {
  margin: 5px 0;
  padding-left: 80px;
}
.info-links img {
  height: 28px;
}
.info-links .switch-img img {
  position: absolute;
  /* visibility: hidden; */
}
.info-links .switch-img img:nth-child(2) {
  animation: show .2s step-end infinite;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.site-info .slogan {
  margin: 20px 0 0;
  text-align: center;
  font-size: 24px;
  color: #d3d3d3;
  font-family: '楷体', '楷体-简', '华文楷体', serif;
}


/* tool bar */

.home-tool-bar {
  position: fixed;
  right: 0;
  bottom: 70px;
  color: #757575;
  font-size: 14px;
  z-index: 5;
}
.home-tool-bar ul li {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 92px;
  width: 84px;
  margin-top: -1px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  text-align: center;
  transition: color .3s;
}
.home-tool-bar ul li.totop {
  margin-top: 14px;
  /* display: none; */
}
.home-tool-bar ul li:hover {
  color: #ff6700;
}
.home-tool-bar a {
  display: block;
}
.home-tool-bar .icon {
  padding: 18px 0 8px;
  font-size: 32px;
  display: block;
}
.home-tool-bar ul li:hover .pop-out-content {
  visibility: visible;
  opacity: 1;
}
.home-tool-bar .pop-out-content {
  box-sizing: border-box;
  padding: 14px;
  width: 130px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  position: absolute;
  right: 95px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}
.pop-out-content img {
  width: 100px;
  margin: 6px 0;
}
.pop-out-content span {
  display: block;
  margin: 8px 9px 0;
  color: #333;
}
.pop-out-content::before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #f5f5f5;
}
.pop-out-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: -19px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #fff;
}

/* small tool bar */
@media only screen and (max-width: 1455px) {
  .home-tool-bar {
    margin-left: 614px;
    width: 27px;
    left: 50%;
    bottom: 40px;
  }
  .home-tool-bar .pop-out-content {
    right: 36px;
  }
  .pop-out-content::after {
    top: 10px;
  }
  .home-tool-bar ul li {
    width: 27px;
    height: 42px;
  }
  .home-tool-bar ul li .icon {
    font-size: 16px;
    padding-top: 13px;
  }
  .home-tool-bar ul li:first-of-type span:nth-of-type(2) {
    display: none;
  }
  .home-tool-bar ul li:not(:first-of-type) span:nth-of-type(2) {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #757575;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    right: 35px;
    top: 6px;
    display: none;
  }
  .home-tool-bar ul li:not(:first-child) span:nth-of-type(2)::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: -20px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent transparent #f5f5f5;
  }
  .home-tool-bar ul li:not(:first-child) span:nth-of-type(2)::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: -19px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent transparent #fff;
  }
  .home-tool-bar ul li:hover span:nth-of-type(2){
    display: block; 
  }
}

@media only screen and (max-width: 1293px) {
  body .home-tool-bar {
    left: auto;
  }
}

